<div  *ngIf="profile.items.skills" class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">{{ "professional_skills" | translate | titlecase }}</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">            
            <div *ngFor="let skill of profile.items.skills" class="col-md-6">                            
              <div class="progress-container progress-primary">
                <span class="progress-badge"> 
                  <b> 
                    {{ skill.name | uppercase }} ( {{ differenceYears(skill.experience)}} {{ "years" | translate | titlecase }} )
                  </b> 
                </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" 
                      data-aos="progress-full" 
                      data-aos-offset="10" 
                      data-aos-duration="2000" 
                      role="progressbar" 
                      aria-valuenow="60" 
                      aria-valuemin="0" 
                      aria-valuemax="100" 
                      style="width: {{ skill.percentage }}%;">
                    </div><span class="progress-value">{{ skill.percentage }} %</span>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>