<footer class="footer">
	<div *ngIf="profile.items.socialNetworks" class="container text-center">		
		<a *ngFor="let socialNetworks of profile.items.socialNetworks">			
			<a *ngIf="socialNetworks.status" class="cc-{{ socialNetworks.name }} btn btn-link" href="{{ socialNetworks.url }}" target="_blank">
				<i class="fa fa-{{ socialNetworks.name }} fa-2x " aria-hidden="true"></i>
			</a>
		</a>		
	</div>
	<div class="h4 title text-center"> {{ profile.name }} </div>
	<div class="text-center text-muted">
	 <p><a class="credit" href="{{ profile.url }}" target="_blank">&copy; Creative {{ profile.email }}. All rights reserved.</a></p>
	</div>
</footer>
