<div *ngIf="!profile.name">
  <ngx-loading-x [show]="load"></ngx-loading-x>
</div>

<div *ngIf="profile.name">
  <app-header></app-header>
    <div class="page-content">
      <div>
        <app-profile [profile]="profile"></app-profile>

        <app-about [profile]="profile"></app-about>

        <app-skill></app-skill>

        <app-portfolio></app-portfolio>
        
        <app-experience></app-experience>

        <app-education></app-education>
        
        <app-reference></app-reference>

        <app-contact></app-contact>

      </div>
    </div>
  <app-footer [profile]="profile"></app-footer>
</div>