  <div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/{{profile._id}}.jpg')"></div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image"><a href="#"><img src="{{ profile.imageProfile }}" alt="Image"/></a></div>
            <div class="h2 title"> {{ profile.name }} </div>                        
            <p *ngIf="profile.items.profile" class="category text-white">{{ profile.items.profile.name | uppercase }}</p>
              <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">
                Hire Me
              </a>              
              <button *ngIf="profile._id" class="btn btn-primary" href="#" data-aos="zoom-in" (click)="exportAsPDF( profile._id );" data-aos-anchor="data-aos-anchor">
                Download CV
              </button>              
          </div>
        </div>
        <div *ngIf="profile.items.socialNetworks" class="section">
          <div class="container">
            <div class="button-container">
              <a *ngFor="let socialNetworks of profile.items.socialNetworks">
                <a *ngIf="socialNetworks.status" class="btn btn-default btn-round btn-lg btn-icon" href="{{ socialNetworks.url }}" rel="tooltip" title="Follow me on {{ socialNetworks.name | uppercase }}">
                  <i class="fa fa-{{socialNetworks.name}}"></i>
                </a>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>