<div *ngIf="profile.items.educations" class="container cc-education">
  <div class="h4 text-center mb-4 title">{{ "education" | translate | titlecase }}</div>
  <div *ngFor="let education of profile.items.educations" class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <div class="h5">{{ education.institution | uppercase }}</div>
          <p *ngIf="education.start">
              {{ education.start | translate | date: 'MMM' }} 
              {{ education.start | date: 'yyyy' }} 
              - 
              {{ education.end | translate | date: 'MMM' }}
              {{ education.end | date: 'yyyy' }}

          </p>
          <p *ngIf="!education.start">
            {{ education.end | translate | date: 'MMM' }}
            {{ education.end | date: 'yyyy' }}      
          </p>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div *ngFor="let titles of education.title">            
            <div class="h5" *ngIf="titles.code === language.language"> {{ titles.data | uppercase }} </div>
          </div>
          
          <div *ngFor="let descriptions of education.description">            
            <p *ngIf="descriptions.code === language.language"> {{ descriptions.data | titlecase }} </p>
          </div>          
        </div>
      </div>
    </div>
  </div>      
</div>