<div *ngIf="profile.items.educations" class="container cc-education">
  <div class="h4 text-center mb-4 title">Education</div>
  <div *ngFor="let education of profile.items.educations" class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>{{ education.start | date: 'dd/MMM/yyyy' }} - {{ education.end | date: 'dd/MMM/yyyy' }}</p>
          <div class="h5">{{ education.institution | uppercase }}</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5"> {{ education.title | uppercase }} </div>              
          <p>{{ education.description }}.</p>
        </div>
      </div>
    </div>
  </div>      
</div>