<div *ngIf="profile.items.experiences" class="section">
  <div class="section" id="experience">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">{{ "experience_work" | translate | titlecase }}</div>
      <div *ngFor="let experience of profile.items.experiences" class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">              
              <div class="h5"> {{ experience.company }} </div>
              <p *ngIf="experience.start">
                {{ experience.start | translate | date: 'MMMM' }}
                {{ experience.start | date: 'yyyy' }} 
                - 
                {{ experience.start | translate | date: 'MMMM' }}
                {{ experience.end| date: 'yyyy' }}            
              </p>
              <p *ngIf="!experience.start">
                {{ experience.end | date: 'MMMM/yyyy' }}            
              </p>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">            
                <div *ngFor="let positions of experience.position">
                  <p *ngIf="positions.code === language.language">
                    {{ experience.company }} ( {{ positions.data }} )
                  </p>                
                </div>
              </div>  
              <div *ngFor="let functions of experience.functions">                
                <p *ngIf="functions.code === language.language" [innerHtml]="functions.data"></p>
              </div>                            
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>