<div *ngIf="profile.items.experiences" class="section">
  <div class="section" id="experience">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">Work Experience</div>
      <div *ngFor="let experience of profile.items.experiences" class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>{{ experience.start | date: 'dd/MMM/yyyy' }} - {{ experience.end | date: 'dd/MMM/yyyy' }} </p>
              <div class="h5"> {{ experience.company }} </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> {{ experience.company }} </div>
              <p>{{ experience.functions }}.</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>